<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Index template</h1>
{#    <h1>Tasks</h1>#}
{#        <ul>#}
{#                 {% for task in tasks %}#}
{#                       <li>#}
{#                         {{ task.title }}#}
{#                         {{ task.created_at }}#}
{#                       </li>#}
{#                  {% endfor %}#}
{#        </ul>#}
{#     <h1>Users</h1>#}
{#            <ul>#}
{#                     {% for user in users %}#}
{#                         <li>#}
{#                            {{ user.name }}#}
{#                            {% for task in user.task_set.all %}#}
{#                                <li>#}
{#                                    {{ task.title }} {{ task.created_at }}#}
{#                                </li>#}
{#                            {% endfor %}#}
{#                         </li>#}
{#                     {% endfor %}#}
{#            </ul>#}

</body>
</html>